<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>

   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="ch.epfl.lamp.sdt.core.preferences"
            class="scala.tools.eclipse.formatter.FormatterPreferencePage"
            id="scala.tools.eclipse.formatter.FormatterPreferencePage"
            name="Scala Formatter Preferences">
      </page>
   </extension>

  <extension point="org.eclipse.ui.commands">
    <command
       categoryId="scala.tools.eclipse.category"
       id="scala.tools.eclipse.formatter.FormatSourceCommand"
       name="Format Scala Source Code"
       description="Format Scala Source Code"  />
  </extension>
  
    
  <extension point="org.eclipse.ui.popupMenus"> 
    <viewerContribution
       id="org.eclipse.shortcut.scala.format1"
       targetID="scala.tools.eclipse.ScalaSourceFileEditor.EditorContext"
   
       > 
   <action
         id="scala.tools.eclipse.formatter.FormatSourceAction" 
         definitionId="scala.tools.eclipse.formatter.FormatSourceCommand" 
         label="Format Scala Source Code"
         menubarPath="additions" 
         class="scala.tools.eclipse.formatter.FormatSourceAction"> 
      </action> 
   </viewerContribution> 
</extension>

   
   <extension
         id="scala.tools.eclipse.editorContribution"
         name="editorContribution"
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="scala.tools.eclipse.editorContribution"
            targetID="scala.tools.eclipse.ScalaSourceFileEditor">
         <action
               class="scala.tools.eclipse.formatter.FormatSourceAction"
               definitionId="scala.tools.eclipse.formatter.FormatSourceCommand"
               id="scala.tools.eclipse.formatter.FormatSourceAction"
               label="Format Scala Source"
               style="push"/>
      </editorContribution>
   </extension>
  
  
  
  <extension point="org.eclipse.ui.bindings">
    <key
      commandId="scala.tools.eclipse.formatter.FormatSourceCommand"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
      sequence="M1+M2+D" />
      <!--
      M1 CTRL  
      M2 SHIFT 
      M3 ALT
      -->
      
  </extension>

</plugin>
