target/
lib_managed/
src_managed/
project/boot/
bin/
.scala_dependencies
core/target/
core/lib_managed/
core/src_managed/
gui/target/
gui/lib_managed/
gui/src_managed/
corpusscan/target/
corpusscan/lib_managed/
corpusscan/src_managed/
docs/build
.settings
nohup.out
.history
.cache
