target/
lib_managed/
src_managed/
project/boot/
bin/
.scala_dependencies
core/target/
core/lib_managed/
core/src_managed/
gui/target/
gui/lib_managed/
gui/src_managed/
corpusscan/target/
corpusscan/lib_managed/
corpusscan/src_managed/
eclipse/scalariform.eclipse/bin
eclipse/scalariform.update/artifacts.jar
eclipse/scalariform.update/content.jar
eclipse/scalariform.update/features
eclipse/scalariform.update/plugins
eclipse/scalariform.update/logs.zip
eclipse/scalariform.eclipse/lib/scalariform_2.8.0-SNAPSHOT-0.1.jar
docs/build
